.home {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  padding: rem(64) 0 rem(84);
  background: linear-gradient(86deg, $color-bahama-blue, $color-purple);

  &__container {
    padding: rem(16);
    text-align: center;
  }

  &__title {
    @include font-style($type-32px, $type-40px, $color-white);
    @include font-weight($weight-semi-bold);
    margin: 0 0 rem(16);
  }

  &__summary {
    @include font-style($type-16px, $type-24px, $color-white);
    @include font-weight($weight-normal);
    margin: 0 0 rem(16);
  }
}
